.blurbs {
  background-color: $brand-mute;

  ul {
    padding: 0;
    margin: 0;
  }

  .blurb {
    display: block;
    width: 100%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    float: left;
    height: 95px;

    &:last-child {
      float: none;
    }

    .details {
      margin-left: 1.5em;
      width: 90%;

      .title {
        margin: 0 0 0.5em;
      }

      p {
        margin: 0;
      }
    }

    .fa {
      width: 50px;
      text-align: center;
    }

    @media #{$media-desktop} {
      width: 50%;
    }
  }
}
