.blurbs {
  background-color: $brand-primary;

  ul {
    padding: 0;
    margin: 0;
  }

  .blurb {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    display: flex;
    box-sizing: border-box;
    float: left;

    &:last-child {
      float: none;
    }

    .details {
      margin-left: 1.5em;
      width: 100%;

      .title {
        margin: 0 0 0.5em;
      }

      p {
        margin: 0;
      }
    }

    @media #{$media-desktop} {
      width: 50%;
    }
  }
}
