.jumbotron {
  background-color: $brand-darkest;
  color: $brand-lightest;
  padding: 40px 20px;

  h2.subtitle {
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;

    a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
      border-bottom: dashed 2px $brand-white;
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .slick-slide {
    position: relative;

    img {
      max-width: 100%;
    }

    .text {
      position: absolute;
      top: 20px;
      right: 20px;
      transition: opacity 0.3s ease-out, margin 0.3s ease-out;
      transition-delay: 0.5s;
      opacity: 0;
      margin-top: -20px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }

    &.slick-active .text {
      opacity: 1;
      margin-top: 0;
    }

    .title {
      font-size: 2em;
    }

    .description {
      top: 80px;
      font-size: 1.25em;
      max-width: 500px;
      transition-delay: 0.7s;
    }

    @media #{$media-desktop} {
      .title {
        font-size: 3em;
      }

      .description {
        font-size: 2em;
      }
    }
  }

  .slick-list {
    z-index: 1;
  }

  .slick-next, .slick-prev {
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out;

    &:before {
      font-size: 40px;
    }
  }

  .slick-next {
    right: -4px;

    &:hover {
      right: -15px;
    }
  }

  .slick-prev:hover {
    left: -35px;
  }
}
