nav.navigation {
  box-sizing: border-box;
  position: fixed;
  background: $brand-darker;
  color: $brand-lightest;
  width: 100%;
  text-align: center;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 10;

  h1 {
    margin: 0;
    width: 100%;

    img {
      height: 1em;
    }
  }

  ul {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-top: 0.5em;

    li {
      display: inline-block;

      a {
        cursor: pointer;
        background: none;
        box-shadow: none;
        color: $brand-lightest;

        &:hover, &:active, &:focus {
          box-shadow: none;
          background: none;
          text-decoration: underline;

          &.btn {
            text-decoration: none;
          }
        }
      }
    }
  }

  @media #{$media-desktop} {

    .container {
      display: flex;
    }

    h1 {
      text-align: left;
    }

    ul {
      display: block;
    }

    li {
      margin: 0 10px;
    }
  }
}
