nav.navigation {
  position: fixed;
  background: #ffcccc;
  width: 100%;
  text-align: center;
  padding: 10px;
  top: 0;
  left: 0;

  h1 {
    font-size: 1em;
    margin: 0;
  }

  ul {
    display: none;
    li {
      display: inline-block;
    }
  }
}
