// libs
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import '~react-dropdown/style';

// bases
@import 'fonts';
@import 'variables';

// sections
@import 'containers/jumbotron';

body {
  // for the sticky nav
  font-family: $font-primary;
  color: $brand-darkest;
}

.contact-form {
  text-align: left;
  width: 100%;
  min-width: 300px;
  max-width: 390px;

  .error {
    border: solid 1px lighten($brand-danger, 25%) !important;
    background-color: lighten($brand-danger, 50%);
    color: $brand-danger;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 10px;

    input, textarea, .error {
      width: 100%;
      padding: 8px 10px;
      box-sizing: border-box;
      border: solid 1px $brand-light;
    }

    textarea {
      resize: none;
      height: 5em;
    }
  }

  .react-tel-input {
    > input {
      height: 34px;
      box-shadow: none;
      border-radius: 0;
    }

    .selected-flag {
      height: 32px;
      border-radius: 0;
    }
  }
}

