@import 'buttons';
@import 'typography';
@import 'contactform';

html, body {
  margin: 0;
  padding: 0;
}

body {
  // for the sticky nav
  padding-top: 38px;
  font-family: $font-primary;
}

section {
  padding: 10px;
  clear: both;
}
